@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To TestTaskApp</h1>

    <p>Learn about me <a href="https://ayomideariyibi-port.netlify.app/">Click Here</a>A Basic Web Application to Create, Read, Update and Delete Data</p>
</div>
